<rule>
  <name>Fulfillment - Override Input Validation - CSSAuthorize - RefundBaseFareAmount Mismatch</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Fulfillment Rule Flow Group</value>
    </attribute>
    <attribute>
      <attributeName>salience</attributeName>
      <value>400</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>transaction.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$intentIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>intent</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>userAuthorization</fieldBinding>
            <factType>FulfillmentTxn</factType>
            <fieldName>userAuthorization</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$userAuthorizationIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>userAuthorization</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>overrideRequested</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>FulfillmentTxn</factType>
      <boundName>transaction</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>document.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$docTypeIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <compositeConstraint>
            <compositeJunctionType>||</compositeJunctionType>
            <constraints>
              <fieldConstraint>
                <operator>== null</operator>
                <constraintValueType>0</constraintValueType>
                <expression>
                  <parts/>
                  <index>2147483647</index>
                </expression>
                <parameters/>
                <factType>Document</factType>
                <fieldName>subType</fieldName>
                <fieldType>String</fieldType>
              </fieldConstraint>
              <compositeConstraint>
                <compositeJunctionType>&amp;&amp;</compositeJunctionType>
                <constraints>
                  <fieldConstraint>
                    <operator>!= null</operator>
                    <constraintValueType>0</constraintValueType>
                    <expression>
                      <parts/>
                      <index>2147483647</index>
                    </expression>
                    <parameters/>
                    <factType>Document</factType>
                    <fieldName>subType</fieldName>
                    <fieldType>String</fieldType>
                  </fieldConstraint>
                  <fieldConstraint>
                    <value>$subTypeIsNot</value>
                    <operator>not matches</operator>
                    <constraintValueType>7</constraintValueType>
                    <expression>
                      <parts/>
                      <index>2147483647</index>
                    </expression>
                    <parameters/>
                    <factType>Document</factType>
                    <fieldName>subType</fieldName>
                    <fieldType>String</fieldType>
                  </fieldConstraint>
                </constraints>
              </compositeConstraint>
            </constraints>
          </compositeConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>primaryTicket</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>!=</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>requestAggregateListEmpty</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>!=</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>dbAggregateListEmpty</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>amountOverride</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>requestAggregates</fieldBinding>
            <factType>Document</factType>
            <fieldName>requestAggregates</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>dbAggregates</fieldBinding>
            <factType>Document</factType>
            <fieldName>dbAggregates</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Document</factType>
      <boundName>document</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fromCompositePattern>
      <factPattern>
        <constraintList>
          <constraints>
            <fieldConstraint>
              <value>RefundBaseFare</value>
              <operator>matches</operator>
              <constraintValueType>1</constraintValueType>
              <expression>
                <parts/>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Aggregate</factType>
              <fieldName>type</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
          </constraints>
        </constraintList>
        <factType>Aggregate</factType>
        <boundName>RequestRefundBaseFare</boundName>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts>
          <org.drools.workbench.models.datamodel.rule.ExpressionFieldVariable>
            <name>requestAggregates</name>
            <classType>Collection</classType>
            <genericType>Collection</genericType>
          </org.drools.workbench.models.datamodel.rule.ExpressionFieldVariable>
        </parts>
        <index>2147483647</index>
      </expression>
    </fromCompositePattern>
    <fromCompositePattern>
      <factPattern>
        <constraintList>
          <constraints>
            <fieldConstraint>
              <operator>matches</operator>
              <constraintValueType>6</constraintValueType>
              <expression>
                <parts>
                  <variable>
                    <next class="field">
                      <prev class="variable" reference="../.."/>
                      <name>type</name>
                      <classType>java.lang.String</classType>
                      <genericType>String</genericType>
                    </next>
                    <name>RequestRefundBaseFare</name>
                    <classType>Aggregate</classType>
                    <genericType>Aggregate</genericType>
                    <factType>Aggregate</factType>
                  </variable>
                  <field reference="../variable/next"/>
                </parts>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Aggregate</factType>
              <fieldName>type</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
            <fieldConstraint>
              <operator>matches</operator>
              <constraintValueType>6</constraintValueType>
              <expression>
                <parts>
                  <variable>
                    <next class="field">
                      <prev class="variable" reference="../.."/>
                      <name>currencyCode</name>
                      <classType>java.lang.String</classType>
                      <genericType>String</genericType>
                    </next>
                    <name>RequestRefundBaseFare</name>
                    <classType>Aggregate</classType>
                    <genericType>Aggregate</genericType>
                    <factType>Aggregate</factType>
                  </variable>
                  <field reference="../variable/next"/>
                </parts>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Aggregate</factType>
              <fieldName>currencyCode</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
            <org.drools.workbench.models.datamodel.rule.SingleFieldConstraintEBLeftSide>
              <value></value>
              <operator>!=</operator>
              <constraintValueType>6</constraintValueType>
              <expression>
                <parts>
                  <variable>
                    <next class="field">
                      <prev class="variable" reference="../.."/>
                      <next class="method">
                        <prev class="field" reference="../.."/>
                        <name>intValue</name>
                        <classType>int</classType>
                        <genericType>Integer</genericType>
                        <params/>
                      </next>
                      <name>amount</name>
                      <classType>java.math.BigDecimal</classType>
                      <genericType>BigDecimal</genericType>
                    </next>
                    <name>RequestRefundBaseFare</name>
                    <classType>Aggregate</classType>
                    <genericType>Aggregate</genericType>
                    <factType>Aggregate</factType>
                  </variable>
                  <field reference="../variable/next"/>
                  <method reference="../variable/next/next"/>
                </parts>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Aggregate</factType>
              <fieldName>intValue</fieldName>
              <fieldType>int</fieldType>
              <expLeftSide>
                <parts>
                  <org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact>
                    <next class="field">
                      <prev class="org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact" reference="../.."/>
                      <next class="method">
                        <prev class="field" reference="../.."/>
                        <name>intValue</name>
                        <classType>int</classType>
                        <genericType>Integer</genericType>
                        <params/>
                      </next>
                      <name>amount</name>
                      <classType>java.math.BigDecimal</classType>
                      <genericType>BigDecimal</genericType>
                    </next>
                    <name>Aggregate</name>
                    <classType>Aggregate</classType>
                    <genericType>Aggregate</genericType>
                    <factType>Aggregate</factType>
                  </org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact>
                  <field reference="../org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact/next"/>
                  <method reference="../org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact/next/next"/>
                </parts>
                <index>2147483647</index>
              </expLeftSide>
            </org.drools.workbench.models.datamodel.rule.SingleFieldConstraintEBLeftSide>
          </constraints>
        </constraintList>
        <factType>Aggregate</factType>
        <boundName>dbRefundBaseFare</boundName>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts>
          <org.drools.workbench.models.datamodel.rule.ExpressionFieldVariable>
            <name>dbAggregates</name>
            <classType>Collection</classType>
            <genericType>Collection</genericType>
          </org.drools.workbench.models.datamodel.rule.ExpressionFieldVariable>
        </parts>
        <index>2147483647</index>
      </expression>
    </fromCompositePattern>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>==</operator>
            <constraintValueType>6</constraintValueType>
            <expression>
              <parts>
                <variable>
                  <next class="field">
                    <prev class="variable" reference="../.."/>
                    <name>eligibilityInfo</name>
                    <classType>EligibilityInfo</classType>
                    <genericType>EligibilityInfo</genericType>
                  </next>
                  <name>document</name>
                  <classType>Document</classType>
                  <genericType>Document</genericType>
                  <factType>Document</factType>
                </variable>
                <field reference="../variable/next"/>
              </parts>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EligibilityInfo</factType>
            <fieldName>this</fieldName>
            <fieldType>EligibilityInfo</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EligibilityInfo</factType>
            <fieldName>overrideInputValidation</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>EligibilityInfo</factType>
      <boundName>eligibilityInfo</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <freeForm>
      <text>document.addError( &quot;@{errorCode}&quot;, &quot;For Document &quot; + document.id + &quot; @{errorMessage}&quot;) 
document.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; +  document.id)
transaction.addError( &quot;@{errorCode}&quot;, &quot;For Document &quot; + document.id + &quot; @{errorMessage}&quot;)
transaction.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; +  document.id)
modify (eligibilityInfo) { setOverrideInputValidation(@{overrideInputValidation}) }
modify (eligibilityInfo) { setRefundable(@{documentRefundable}) }</text>
    </freeForm>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>java.lang.Number</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>overrideInputValidation</string>
      <list>
        <string>false</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
    <entry>
      <string>$docTypeIs</string>
      <list>
        <string>T</string>
      </list>
    </entry>
    <entry>
      <string>$intentIs</string>
      <list>
        <string>REFUND</string>
      </list>
    </entry>
    <entry>
      <string>errorMessage</string>
      <list>
        <string>Request and Quoted RefundBaseFare amounts not matching in CSSAuthorize scenario</string>
      </list>
    </entry>
    <entry>
      <string>documentRefundable</string>
      <list>
        <string>false</string>
      </list>
    </entry>
    <entry>
      <string>errorCode</string>
      <list>
        <string>FF0003</string>
      </list>
    </entry>
    <entry>
      <string>$userAuthorizationIs</string>
      <list>
        <string>CSSAuthorize</string>
      </list>
    </entry>
    <entry>
      <string>$subTypeIsNot</string>
      <list>
        <string>AWD</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>