<rule>
  <name>Fulfillment - Refund Quote Status Validation</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Fulfillment Rule Flow Group</value>
    </attribute>
    <attribute>
      <attributeName>lock-on-active</attributeName>
      <value>false</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>dbDocs</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$intentIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>intent</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>FulfillmentTxn</factType>
      <boundName>transaction</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>document.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>refundStatus</fieldBinding>
            <factType>Document</factType>
            <fieldName>refundStatus</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$refundQuoteStatusNot</value>
            <operator>not in</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>refundStatus</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Document</factType>
      <boundName>document</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>==</operator>
            <constraintValueType>6</constraintValueType>
            <expression>
              <parts>
                <variable>
                  <next class="field">
                    <prev class="variable" reference="../.."/>
                    <name>eligibilityInfo</name>
                    <classType>EligibilityInfo</classType>
                    <genericType>EligibilityInfo</genericType>
                  </next>
                  <name>document</name>
                  <classType>Document</classType>
                  <genericType>Document</genericType>
                  <factType>Document</factType>
                </variable>
                <field reference="../variable/next"/>
              </parts>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EligibilityInfo</factType>
            <fieldName>this</fieldName>
            <fieldType>EligibilityInfo</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EligibilityInfo</factType>
            <fieldName>quoteValidation</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>EligibilityInfo</factType>
      <boundName>eligibilityInfo</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <freeForm>
      <text>document.addError( &quot;@{errorCode}&quot;, &quot;For Document &quot; + document.id + &quot; @{errorMessage}&quot; + refundStatus ) 
document.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; +  document.id)
transaction.addError( &quot;@{errorCode}&quot;, &quot;For Document &quot; + document.id + &quot; @{errorMessage}&quot; + refundStatus )
transaction.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; +  document.id)
 modify (eligibilityInfo) { setRefundable(@{documentRefundable}),  setQuoteValidation(@{refundQuoteValidation})}</text>
    </freeForm>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
        <string>2</string>
        <string>3</string>
      </list>
    </entry>
    <entry>
      <string>refundQuoteValidation</string>
      <list>
        <string>false</string>
        <string>false</string>
        <string>false</string>
      </list>
    </entry>
    <entry>
      <string>$intentIs</string>
      <list>
        <string>REFUND</string>
        <string>RISKFREECANCEL</string>
        <string>ECREDIT</string>
      </list>
    </entry>
    <entry>
      <string>errorMessage</string>
      <list>
        <string>the following Refund Quote Status is not eligible : </string>
        <string>the following RISKFREECANCEL Quote Status is not eligible : </string>
        <string>the following ECREDIT Quote Status is not eligible : </string>
      </list>
    </entry>
    <entry>
      <string>documentRefundable</string>
      <list>
        <string>false</string>
        <string>false</string>
        <string>false</string>
      </list>
    </entry>
    <entry>
      <string>errorCode</string>
      <list>
        <string>FF0010</string>
        <string>FF0010</string>
        <string>FF0010</string>
      </list>
    </entry>
    <entry>
      <string>$refundQuoteStatusNot</string>
      <list>
        <string>Q, FCR, MF</string>
        <string>RFC, MF</string>
        <string>RFC, ECR, NV, N, FCR, MF, Q</string>
      </list>
    </entry>
  </table>
  <idCol>3</idCol>
  <rowsCount>3</rowsCount>
</rule>