<rule>
  <name>Fulfillment - Recognize Cross Reference</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Fulfillment Rule Flow Group</value>
    </attribute>
    <attribute>
      <attributeName>lock-on-active</attributeName>
      <value>false</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>document.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$documentTypeIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>reasonForIssuanceCode</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$reasonForIssuanceCodeIsNot</value>
            <operator>not matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>reasonForIssuanceCode</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>emdAssociationTypeCode</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$emdAssociationTypeCodeIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>emdAssociationTypeCode</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <org.drools.workbench.models.datamodel.rule.SingleFieldConstraintEBLeftSide>
            <value>false</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>crossRef</fieldName>
            <fieldType>boolean</fieldType>
            <expLeftSide>
              <parts>
                <org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact>
                  <next class="field">
                    <prev class="org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact" reference="../.."/>
                    <next class="field">
                      <prev class="field" reference="../.."/>
                      <name>crossRef</name>
                      <classType>boolean</classType>
                      <genericType>Boolean</genericType>
                    </next>
                    <name>eligibilityInfo</name>
                    <classType>EligibilityInfo</classType>
                    <genericType>EligibilityInfo</genericType>
                  </next>
                  <name>Document</name>
                  <classType>Document</classType>
                  <genericType>Document</genericType>
                  <factType>Document</factType>
                </org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact>
                <field reference="../org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact/next"/>
                <field reference="../org.drools.workbench.models.datamodel.rule.ExpressionUnboundFact/next/next"/>
              </parts>
              <index>2147483647</index>
            </expLeftSide>
          </org.drools.workbench.models.datamodel.rule.SingleFieldConstraintEBLeftSide>
          <fieldConstraint>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>eligibilityInfo</fieldBinding>
            <factType>Document</factType>
            <fieldName>eligibilityInfo</fieldName>
            <fieldType>EligibilityInfo</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Document</factType>
      <boundName>document</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <freeForm>
      <text>document.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired&quot;)
modify (eligibilityInfo) { setCrossRef(@{CrossRefIs}) }
</text>
    </freeForm>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$documentTypeIs</string>
      <list>
        <string>J</string>
      </list>
    </entry>
    <entry>
      <string>$reasonForIssuanceCodeIsNot</string>
      <list>
        <string>W01</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
    <entry>
      <string>$emdAssociationTypeCodeIs</string>
      <list>
        <string>S</string>
      </list>
    </entry>
    <entry>
      <string>CrossRefIs</string>
      <list>
        <string>true</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>