<rule>
  <name>Fulfillment - itinerary Validation - Matched Segments</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Fulfillment Rule Flow Group</value>
    </attribute>
    <attribute>
      <attributeName>salience</attributeName>
      <value>400</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
    <attribute>
      <attributeName>lock-on-active</attributeName>
      <value>false</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <factType>Pnr</factType>
      <boundName>pnr</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>transaction.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$intentIsNot</value>
            <operator>not matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>intent</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>FulfillmentTxn</factType>
      <boundName>transaction</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>document.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>docApiCoupons</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$documentTypeIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Document</factType>
      <boundName>document</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fromCompositePattern>
      <factPattern>
        <constraintList>
          <constraints>
            <fieldConstraint>
              <value>$couponStateIs</value>
              <operator>matches</operator>
              <constraintValueType>7</constraintValueType>
              <expression>
                <parts/>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Coupon</factType>
              <fieldName>state</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
            <fieldConstraint>
              <operator>!= null</operator>
              <constraintValueType>0</constraintValueType>
              <expression>
                <parts/>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Coupon</factType>
              <fieldName>flightNumber</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
            <fieldConstraint>
              <value>$cpnFlightNumberIsNot</value>
              <operator>not matches</operator>
              <constraintValueType>7</constraintValueType>
              <expression>
                <parts/>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Coupon</factType>
              <fieldName>flightNumber</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
          </constraints>
        </constraintList>
        <factType>Coupon</factType>
        <boundName>coupon</boundName>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts>
          <variable>
            <next class="collection">
              <prev class="variable" reference="../.."/>
              <name>docApiCoupons</name>
              <classType>java.util.List</classType>
              <genericType>Collection</genericType>
              <parametricType>Coupon</parametricType>
            </next>
            <name>document</name>
            <classType>Document</classType>
            <genericType>Document</genericType>
            <factType>Document</factType>
          </variable>
          <collection reference="../variable/next"/>
        </parts>
        <index>2147483647</index>
      </expression>
    </fromCompositePattern>
    <fromCompositePattern>
      <factPattern>
        <constraintList>
          <constraints>
            <compositeConstraint>
              <compositeJunctionType>&amp;&amp;</compositeJunctionType>
              <constraints>
                <fieldConstraint>
                  <value>$segmentTypeIs</value>
                  <operator>matches</operator>
                  <constraintValueType>7</constraintValueType>
                  <expression>
                    <parts/>
                    <index>2147483647</index>
                  </expression>
                  <parameters/>
                  <factType>SegmentInfo</factType>
                  <fieldName>segmentType</fieldName>
                  <fieldType>String</fieldType>
                </fieldConstraint>
                <fieldConstraint>
                  <value>$segmentActive</value>
                  <operator>matches</operator>
                  <constraintValueType>7</constraintValueType>
                  <expression>
                    <parts/>
                    <index>2147483647</index>
                  </expression>
                  <parameters/>
                  <factType>SegmentInfo</factType>
                  <fieldName>segmentActiveFlag</fieldName>
                  <fieldType>String</fieldType>
                </fieldConstraint>
                <fieldConstraint>
                  <value>departureDateMatches(coupon.getDepartureDate())</value>
                  <constraintValueType>5</constraintValueType>
                  <expression>
                    <parts/>
                    <index>2147483647</index>
                  </expression>
                  <parameters/>
                  <fieldType></fieldType>
                </fieldConstraint>
                <fieldConstraint>
                  <operator>matches</operator>
                  <constraintValueType>6</constraintValueType>
                  <expression>
                    <parts>
                      <variable>
                        <next class="field">
                          <prev class="variable" reference="../.."/>
                          <name>originStationCode</name>
                          <classType>java.lang.String</classType>
                          <genericType>String</genericType>
                        </next>
                        <name>coupon</name>
                        <classType>Coupon</classType>
                        <genericType>Coupon</genericType>
                        <factType>Coupon</factType>
                      </variable>
                      <field reference="../variable/next"/>
                    </parts>
                    <index>2147483647</index>
                  </expression>
                  <parameters/>
                  <factType>SegmentInfo</factType>
                  <fieldName>originStationCode</fieldName>
                  <fieldType>String</fieldType>
                </fieldConstraint>
              </constraints>
            </compositeConstraint>
            <fieldConstraint>
              <operator>matches</operator>
              <constraintValueType>6</constraintValueType>
              <expression>
                <parts>
                  <variable>
                    <next class="field">
                      <prev class="variable" reference="../.."/>
                      <name>destinationStationCode</name>
                      <classType>java.lang.String</classType>
                      <genericType>String</genericType>
                    </next>
                    <name>coupon</name>
                    <classType>Coupon</classType>
                    <genericType>Coupon</genericType>
                    <factType>Coupon</factType>
                  </variable>
                  <field reference="../variable/next"/>
                </parts>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>SegmentInfo</factType>
              <fieldName>destinationStationCode</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
            <fieldConstraint>
              <value>false</value>
              <operator>==</operator>
              <constraintValueType>1</constraintValueType>
              <expression>
                <parts/>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>SegmentInfo</factType>
              <fieldName>cancelItinerary</fieldName>
              <fieldType>Boolean</fieldType>
            </fieldConstraint>
          </constraints>
        </constraintList>
        <factType>SegmentInfo</factType>
        <boundName>segment</boundName>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts>
          <variable>
            <next class="collection">
              <prev class="variable" reference="../.."/>
              <name>segInfos</name>
              <classType>java.util.List</classType>
              <genericType>Collection</genericType>
              <parametricType>SegmentInfo</parametricType>
            </next>
            <name>pnr</name>
            <classType>Pnr</classType>
            <genericType>Pnr</genericType>
            <factType>Pnr</factType>
          </variable>
          <collection reference="../variable/next"/>
        </parts>
        <index>2147483647</index>
      </expression>
    </fromCompositePattern>
  </lhs>
  <rhs>
    <freeForm>
      <text>transaction.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired&quot;)
modify (segment)  { setCancelItinerary(@{markSegmentForCancel}) }
modify(pnr) { setCancelItinerary(@{markCancelItineraryForPNR}) }
update (transaction)
</text>
    </freeForm>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>java.lang.Number</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$documentTypeIs</string>
      <list>
        <string>T</string>
      </list>
    </entry>
    <entry>
      <string>$intentIsNot</string>
      <list>
        <string>RISKFREECANCEL</string>
      </list>
    </entry>
    <entry>
      <string>$cpnFlightNumberIsNot</string>
      <list>
        <string>VOID</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
    <entry>
      <string>$segmentActive</string>
      <list>
        <string>Y</string>
      </list>
    </entry>
    <entry>
      <string>markCancelItineraryForPNR</string>
      <list>
        <string>true</string>
      </list>
    </entry>
    <entry>
      <string>$segmentTypeIs</string>
      <list>
        <string>0</string>
      </list>
    </entry>
    <entry>
      <string>$couponStateIs</string>
      <list>
        <string>SOLD</string>
      </list>
    </entry>
    <entry>
      <string>markSegmentForCancel</string>
      <list>
        <string>true</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>