<rule>
  <name>Fulfillment - Remarks Validation</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Fulfillment Rule Flow Group</value>
    </attribute>
    <attribute>
      <attributeName>lock-on-active</attributeName>
      <value>true</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>transaction.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>dbDocs</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>FulfillmentTxn</factType>
      <boundName>transaction</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>document.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$documentTypeIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Document</factType>
      <boundName>document</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Pnr</factType>
            <fieldName>remarks</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Pnr</factType>
      <boundName>pnr</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fromCompositePattern>
      <factPattern>
        <constraintList>
          <constraints>
            <fieldConstraint>
              <value>$remarksTypeCodeOneOf</value>
              <operator>in</operator>
              <constraintValueType>7</constraintValueType>
              <expression>
                <parts/>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>Remark</factType>
              <fieldName>typeCode</fieldName>
              <fieldType>String</fieldType>
            </fieldConstraint>
          </constraints>
        </constraintList>
        <factType>Remark</factType>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts>
          <variable>
            <next class="collection">
              <prev class="variable" reference="../.."/>
              <name>remarks</name>
              <classType>java.util.List</classType>
              <genericType>Collection</genericType>
              <parametricType>Remark</parametricType>
            </next>
            <name>pnr</name>
            <classType>Pnr</classType>
            <genericType>Pnr</genericType>
            <factType>Pnr</factType>
          </variable>
          <collection reference="../variable/next"/>
        </parts>
        <index>2147483647</index>
      </expression>
    </fromCompositePattern>
  </lhs>
  <rhs>
    <freeForm>
      <text>transaction.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; + document.id);
transaction.getTxnResponse().setRemarks(@{callRemarksService})
update(transaction)
pnr.setCallRemarksSvc(@{callRemarksService})
</text>
    </freeForm>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$documentTypeIs</string>
      <list>
        <string>J</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
    <entry>
      <string>$remarksTypeCodeOneOf</string>
      <list>
        <string>SSVC,ASVC</string>
      </list>
    </entry>
    <entry>
      <string>callRemarksService</string>
      <list>
        <string>true</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>