<rule>
  <name>Fulfillment - FOP Validation</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Fulfillment Rule Flow Group</value>
    </attribute>
    <attribute>
      <attributeName>lock-on-active</attributeName>
      <value>false</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>dbDocs</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$intentIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>intent</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>FulfillmentTxn</factType>
      <boundName>transaction</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>document.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$docTypeIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Document</factType>
      <boundName>document</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fromCompositePattern>
      <factPattern>
        <constraintList>
          <constraints>
            <compositeConstraint>
              <compositeJunctionType>&amp;&amp;</compositeJunctionType>
              <constraints>
                <fieldConstraint>
                  <value>$fopTypeCodeIs</value>
                  <operator>matches</operator>
                  <constraintValueType>7</constraintValueType>
                  <expression>
                    <parts/>
                    <index>2147483647</index>
                  </expression>
                  <parameters/>
                  <factType>FopInfo</factType>
                  <fieldName>fopType</fieldName>
                  <fieldType>String</fieldType>
                </fieldConstraint>
                <compositeConstraint>
                  <compositeJunctionType>||</compositeJunctionType>
                  <constraints>
                    <fieldConstraint>
                      <value>$and_vendorNotOneOf</value>
                      <operator>not in</operator>
                      <constraintValueType>7</constraintValueType>
                      <expression>
                        <parts/>
                        <index>2147483647</index>
                      </expression>
                      <parameters/>
                      <factType>FopInfo</factType>
                      <fieldName>vendor</fieldName>
                      <fieldType>String</fieldType>
                    </fieldConstraint>
                    <fieldConstraint>
                      <value>$or_fopPaxRfrnTxt</value>
                      <operator>not in</operator>
                      <constraintValueType>7</constraintValueType>
                      <expression>
                        <parts/>
                        <index>2147483647</index>
                      </expression>
                      <parameters/>
                      <factType>FopInfo</factType>
                      <fieldName>fopPaxRfrnTxt</fieldName>
                      <fieldType>String</fieldType>
                    </fieldConstraint>
                  </constraints>
                </compositeConstraint>
              </constraints>
            </compositeConstraint>
          </constraints>
        </constraintList>
        <factType>FopInfo</factType>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts>
          <variable>
            <next class="collection">
              <prev class="variable" reference="../.."/>
              <name>fopInfos</name>
              <classType>java.util.List</classType>
              <genericType>Collection</genericType>
              <parametricType>FopInfo</parametricType>
            </next>
            <name>document</name>
            <classType>Document</classType>
            <genericType>Document</genericType>
            <factType>Document</factType>
          </variable>
          <collection reference="../variable/next"/>
        </parts>
        <index>2147483647</index>
      </expression>
    </fromCompositePattern>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>==</operator>
            <constraintValueType>6</constraintValueType>
            <expression>
              <parts>
                <variable>
                  <next class="field">
                    <prev class="variable" reference="../.."/>
                    <name>eligibilityInfo</name>
                    <classType>EligibilityInfo</classType>
                    <genericType>EligibilityInfo</genericType>
                  </next>
                  <name>document</name>
                  <classType>Document</classType>
                  <genericType>Document</genericType>
                  <factType>Document</factType>
                </variable>
                <field reference="../variable/next"/>
              </parts>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EligibilityInfo</factType>
            <fieldName>this</fieldName>
            <fieldType>EligibilityInfo</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EligibilityInfo</factType>
            <fieldName>fopValidation</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>EligibilityInfo</factType>
      <boundName>eligibilityInfo</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <freeForm>
      <text>document.addError( &quot;@{errorCode}&quot;, &quot;For Document &quot; + document.id + &quot; @{errorMessage}&quot;) 
document.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; +  document.id)
transaction.addError( &quot;@{errorCode}&quot;, document.id + &quot; @{errorMessage}&quot;)
transaction.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; +  document.id)		
		modify (eligibilityInfo) { setFopValidation(@{fopValidationSuccess}) }
                modify (eligibilityInfo) { setRefundable(@{documentRefundable}) }</text>
    </freeForm>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$fopTypeCodeIs</string>
      <list>
        <string>MS</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
    <entry>
      <string>fopValidationSuccess</string>
      <list>
        <string>false</string>
      </list>
    </entry>
    <entry>
      <string>$and_vendorNotOneOf</string>
      <list>
        <string>TP,DS</string>
      </list>
    </entry>
    <entry>
      <string>$docTypeIs</string>
      <list>
        <string>T</string>
      </list>
    </entry>
    <entry>
      <string>$intentIs</string>
      <list>
        <string>REFUND</string>
      </list>
    </entry>
    <entry>
      <string>errorMessage</string>
      <list>
        <string>Validation error: During FOP validations other than TP or DS vendor code</string>
      </list>
    </entry>
    <entry>
      <string>documentRefundable</string>
      <list>
        <string>false</string>
      </list>
    </entry>
    <entry>
      <string>errorCode</string>
      <list>
        <string>FF0021</string>
      </list>
    </entry>
    <entry>
      <string>$or_fopPaxRfrnTxt</string>
      <list>
        <string>ALIPAY,PAYPAL</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>