<rule>
  <name>Post Processing - Set Overall Transaction Eligibility When Some Documents are Eligible</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Post Processing Rule Flow Group</value>
    </attribute>
    <attribute>
      <attributeName>agenda-group</attributeName>
      <value>post processing</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>dbDocs</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>FulfillmentTxn</factType>
      <boundName>transaction</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fromAccumulateCompositePattern>
      <factPattern>
        <factType>Number</factType>
        <boundName>totalNoOfDocuments</boundName>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts/>
        <index>2147483647</index>
      </expression>
      <sourcePattern class="fromCompositePattern">
        <factPattern>
          <factType>Document</factType>
          <boundName>dbDoc</boundName>
          <isNegated>false</isNegated>
          <window>
            <parameters/>
          </window>
        </factPattern>
        <expression>
          <parts>
            <variable>
              <next class="collection">
                <prev class="variable" reference="../.."/>
                <name>dbDocs</name>
                <classType>java.util.List</classType>
                <genericType>Collection</genericType>
                <parametricType>Document</parametricType>
              </next>
              <name>transaction</name>
              <classType>FulfillmentTxn</classType>
              <genericType>FulfillmentTxn</genericType>
              <factType>FulfillmentTxn</factType>
            </variable>
            <collection reference="../variable/next"/>
          </parts>
          <index>2147483647</index>
        </expression>
      </sourcePattern>
      <function>count(dbDoc)</function>
    </fromAccumulateCompositePattern>
    <fromCollectCompositePattern>
      <factPattern>
        <factType>List</factType>
        <boundName>eligibleDocumentList</boundName>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts/>
        <index>2147483647</index>
      </expression>
      <rightPattern class="fact">
        <constraintList>
          <constraints>
            <fieldConstraint>
              <value>true</value>
              <operator>==</operator>
              <constraintValueType>1</constraintValueType>
              <expression>
                <parts/>
                <index>2147483647</index>
              </expression>
              <parameters/>
              <factType>EligibilityInfo</factType>
              <fieldName>refundable</fieldName>
              <fieldType>Boolean</fieldType>
            </fieldConstraint>
          </constraints>
        </constraintList>
        <factType>EligibilityInfo</factType>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </rightPattern>
    </fromCollectCompositePattern>
    <fromCompositePattern>
      <factPattern>
        <factType>Number</factType>
        <boundName>eligibleDocumentCount</boundName>
        <isNegated>false</isNegated>
        <window>
          <parameters/>
        </window>
      </factPattern>
      <expression>
        <parts>
          <variable>
            <next class="method">
              <prev class="variable" reference="../.."/>
              <name>size</name>
              <classType>int</classType>
              <genericType>Integer</genericType>
              <params/>
            </next>
            <name>eligibleDocumentList</name>
            <classType>List</classType>
            <genericType>List</genericType>
            <factType>List</factType>
          </variable>
          <method reference="../variable/next"/>
        </parts>
        <index>2147483647</index>
      </expression>
    </fromCompositePattern>
    <freeForm>
      <text>eval ((totalNoOfDocuments  &gt; 0 &amp;&amp;  eligibleDocumentCount &gt;0 &amp;&amp; totalNoOfDocuments != eligibleDocumentCount) )</text>
    </freeForm>
  </lhs>
  <rhs>
    <freeForm>
      <text>  
transaction.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired&quot;)
transaction.getTxnResponse().setEligibility(&quot;N&quot;);</text>
    </freeForm>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>java.lang.Number</type>
      </org.kie.soup.project.datamodel.imports.Import>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>java.util.List</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>