<rule>
  <name>Validation - Override Scenario - Missing Quote Aggregate</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Validation Rule Flow</value>
    </attribute>
    <attribute>
      <attributeName>lock-on-active</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>transaction.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>intent</fieldName>
            <fieldType>Comparable</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$intentIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>intent</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>userAuthorization</fieldBinding>
            <factType>FulfillmentTxn</factType>
            <fieldName>userAuthorization</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$userAuthorizationIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>userAuthorization</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>FulfillmentTxn</factType>
            <fieldName>overrideRequested</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>FulfillmentTxn</factType>
      <boundName>transaction</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>document.isValidated()</value>
            <constraintValueType>5</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldType></fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>primaryTicket</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>amountOverride</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>dbAggregates</fieldBinding>
            <factType>Document</factType>
            <fieldName>dbAggregates</fieldName>
            <fieldType>Collection</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>!=</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>dbAggregateListEmpty</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <operator>!= null</operator>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$docTypeIs</value>
            <operator>matches</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Document</factType>
            <fieldName>type</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <compositeConstraint>
            <compositeJunctionType>||</compositeJunctionType>
            <constraints>
              <fieldConstraint>
                <operator>== null</operator>
                <constraintValueType>0</constraintValueType>
                <expression>
                  <parts/>
                  <index>2147483647</index>
                </expression>
                <parameters/>
                <factType>Document</factType>
                <fieldName>subType</fieldName>
                <fieldType>String</fieldType>
              </fieldConstraint>
              <compositeConstraint>
                <compositeJunctionType>&amp;&amp;</compositeJunctionType>
                <constraints>
                  <fieldConstraint>
                    <operator>!= null</operator>
                    <constraintValueType>0</constraintValueType>
                    <expression>
                      <parts/>
                      <index>2147483647</index>
                    </expression>
                    <parameters/>
                    <factType>Document</factType>
                    <fieldName>subType</fieldName>
                    <fieldType>String</fieldType>
                  </fieldConstraint>
                  <fieldConstraint>
                    <value>$subTypeIsNot</value>
                    <operator>not matches</operator>
                    <constraintValueType>7</constraintValueType>
                    <expression>
                      <parts/>
                      <index>2147483647</index>
                    </expression>
                    <parameters/>
                    <factType>Document</factType>
                    <fieldName>subType</fieldName>
                    <fieldType>String</fieldType>
                  </fieldConstraint>
                </constraints>
              </compositeConstraint>
            </constraints>
          </compositeConstraint>
        </constraints>
      </constraintList>
      <factType>Document</factType>
      <boundName>document</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <compositePattern>
      <type>not</type>
      <patterns>
        <fromCompositePattern>
          <factPattern>
            <constraintList>
              <constraints>
                <fieldConstraint>
                  <operator>!= null</operator>
                  <constraintValueType>0</constraintValueType>
                  <expression>
                    <parts/>
                    <index>2147483647</index>
                  </expression>
                  <parameters/>
                  <factType>Aggregate</factType>
                  <fieldName>type</fieldName>
                  <fieldType>String</fieldType>
                </fieldConstraint>
                <fieldConstraint>
                  <value>$aggregateIs</value>
                  <operator>matches</operator>
                  <constraintValueType>7</constraintValueType>
                  <expression>
                    <parts/>
                    <index>2147483647</index>
                  </expression>
                  <parameters/>
                  <factType>Aggregate</factType>
                  <fieldName>type</fieldName>
                  <fieldType>String</fieldType>
                </fieldConstraint>
              </constraints>
            </constraintList>
            <factType>Aggregate</factType>
            <isNegated>false</isNegated>
            <window>
              <parameters/>
            </window>
          </factPattern>
          <expression>
            <parts>
              <org.drools.workbench.models.datamodel.rule.ExpressionFieldVariable>
                <name>dbAggregates</name>
                <classType>Collection</classType>
                <genericType>Collection</genericType>
              </org.drools.workbench.models.datamodel.rule.ExpressionFieldVariable>
            </parts>
            <index>2147483647</index>
          </expression>
        </fromCompositePattern>
      </patterns>
    </compositePattern>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <operator>==</operator>
            <constraintValueType>6</constraintValueType>
            <expression>
              <parts>
                <variable>
                  <next class="field">
                    <prev class="variable" reference="../.."/>
                    <name>eligibilityInfo</name>
                    <classType>EligibilityInfo</classType>
                    <genericType>EligibilityInfo</genericType>
                  </next>
                  <name>document</name>
                  <classType>Document</classType>
                  <genericType>Document</genericType>
                  <factType>Document</factType>
                </variable>
                <field reference="../variable/next"/>
              </parts>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EligibilityInfo</factType>
            <fieldName>this</fieldName>
            <fieldType>EligibilityInfo</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>EligibilityInfo</factType>
      <boundName>eligibilityInfo</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <freeForm>
      <text>modify(document) {setRuleResult(document.addRuleExecutionResult(false))}
document.addError(&quot;@{errorCode}&quot;, &quot;@{errorMessage}&quot;) 
document.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired&quot;)
transaction.addError( &quot;@{errorCode}&quot;, &quot;For Document &quot; + document.id + &quot; @{errorMessage}&quot;)
transaction.addAdvisory(&quot;A001&quot;, drools.getRule().getName() + &quot; fired for Document &quot; +  document.id)
modify (eligibilityInfo) { setRefundable(@{refundEligible}) }</text>
    </freeForm>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>java.lang.Number</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>com.delta.ticketing.rhdm.fulfillmentrules</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>3</string>
        <string>4</string>
        <string>5</string>
        <string>6</string>
      </list>
    </entry>
    <entry>
      <string>$aggregateIs</string>
      <list>
        <string>TotalAmount</string>
        <string>CancellationAmt</string>
        <string>RefundTotalTax</string>
        <string>RefundBaseFare</string>
      </list>
    </entry>
    <entry>
      <string>$docTypeIs</string>
      <list>
        <string>T</string>
        <string>T</string>
        <string>T</string>
        <string>T</string>
      </list>
    </entry>
    <entry>
      <string>refundEligible</string>
      <list>
        <string>false</string>
        <string>false</string>
        <string>false</string>
        <string>false</string>
      </list>
    </entry>
    <entry>
      <string>$intentIs</string>
      <list>
        <string>REFUND</string>
        <string>REFUND</string>
        <string>REFUND</string>
        <string>REFUND</string>
      </list>
    </entry>
    <entry>
      <string>errorMessage</string>
      <list>
        <string>Missing Quote Aggregate &apos;TotalAmount&apos; in GTSAuthorize scenario</string>
        <string>Missing Database Aggregate &apos;CancellationAmt&apos; in CSSAuthorize Scenario</string>
        <string>Missing Database Aggregate &apos;RefundTotalTax&apos; in CSSAuthorize Scenario</string>
        <string>Missing Database Aggregate &apos;RefundBaseFare&apos; in CSSAuthorize Scenario</string>
      </list>
    </entry>
    <entry>
      <string>errorCode</string>
      <list>
        <string>E0070</string>
        <string>E0071</string>
        <string>E0072</string>
        <string>E0073</string>
      </list>
    </entry>
    <entry>
      <string>$userAuthorizationIs</string>
      <list>
        <string>GTSAuthorize</string>
        <string>CSSAuthorize</string>
        <string>CSSAuthorize</string>
        <string>CSSAuthorize</string>
      </list>
    </entry>
    <entry>
      <string>$subTypeIsNot</string>
      <list>
        <string>AWD</string>
        <string>AWD</string>
        <string>AWD</string>
        <string>AWD</string>
      </list>
    </entry>
  </table>
  <idCol>9</idCol>
  <rowsCount>4</rowsCount>
</rule>